{% extends "base.html" %}
{% block content %}

<h1 class="title">About SafeSense AI</h1>

<!-- 3D IMAGE SECTION -->
<div class="hero-3d">
    <img src="https://images.unsplash.com/photo-1677442136019-21780ecad995?w=1000" class="hero-img">
</div>

<div class="grid about-grid">

    <div class="card about-card">
        <div class="img-box">
            <img src="https://images.unsplash.com/photo-1504384308090-c894fdcc538d?w=800">
        </div>
        <h3>🚀 Mission</h3>
        <p>AI-based industrial safety monitoring system.</p>
    </div>

    <div class="card about-card">
        <div class="img-box">
            <img src="https://images.unsplash.com/photo-1555949963-aa79dcee981c?w=800">
        </div>
        <h3>🧠 Technology</h3>
        <p>Built using AI, ML & real-time dashboards.</p>
    </div>

</div>

{% endblock %}